extends layout

block content

  h1(class='mb-4') Categoría: #{category.name}
  
  h3(class='mb-3') Juegos
    if category_games.length
        each game in category_games
          h4
            a(href=game.url) #{game.name}
          p #{game.description}
          hr
    else
      p Esta categoría no tiene juegos.
  br
  p
  a(href=category.url+'/delete') Eliminar Categoría
  p
  a(href=category.url+'/update') Actualizar Categoría