extends layout

block content
  h1(class='mb-4')= title

  form(method='POST')
    div.form-group
      label(for='name') Nombre:
      input#name.form-control(type='text', placeholder='Nombre del juego' name='name' required value=(undefined===game ? '' : game.name) )
    div.form-group
      label(for='description') Descripción:
      textarea#description.form-control(placeholder='Descripción' name='description' required)= undefined===game ? '' : game.description
    div.form-group
      label(for='price') Precio:
      input#price.form-control(type='number', name='price' min='0' step="0.01" value=(undefined===game ? '' : game.price) required)
    div.form-group
      label(for='quantity') Cantidad:
      input#quantity.form-control(type='number', name='quantity' min='0' value=(undefined===game ? '' : game.number_of_items) required)
    div.form-group
      label Categoría:
      div
        for category in categories
          div(style='display: inline; padding-right:10px;')
            if category.checked
              input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked)
            else
              input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id)
            label(for=category._id) &nbsp;#{category.name}
    button.btn.btn-primary.mt-4(type='submit') Aceptar

  if errors
    ul
      for error in errors
        li!= error.msg